###
#
# Slurm cgroup support configuration file
#
# See man slurm.conf and man cgroup.conf for further
# information on cgroup configuration parameters
#--
# Templated by ansible, don't edit manually.
#
CgroupMountpoint={{ slurm.cgroups.mountpoint }}
CgroupPlugin=autodetect
ConstrainCores={{ slurm.cgroups.constrain.cores }}
{% if src.version|int < 21 %}
TaskAffinity={{ slurm.cgroups.task_affinity }}
{% endif %}
ConstrainRAMSpace={{ slurm.cgroups.constrain.ram }}
ConstrainSwapSpace={{ slurm.cgroups.constrain.swap }}
AllowedRAMSpace={{ slurm.cgroups.allowed_space.ram }}
MinRAMSpace={{ slurm.cgroups.min.ram }}
AllowedSwapSpace={{ slurm.cgroups.allowed_space.swap }}
ConstrainDevices={{ slurm.cgroups.constrain.devices }}

