# slurm.conf
# Managed by Ansible - DO NOT CHANGE

# Controller
ClusterName={{ slurm_cluster_name }}
SlurmctldHost={{ slurmctld_host }}
{% if slurm_control_addr is defined %}
SlurmctldAddr={{ slurm_control_addr }}
{% endif %}
SlurmctldPort={{ slurmctld_port }}
SlurmctldPidFile={{ slurmctld_pid_file }}
{% if slurm_slurmctld_params is defined %}
SlurmctldParameters={{ slurm_slurmctld_params }}
{% endif %}

# Users
SlurmUser={{ slurm_user }}

# Slurmd 
SlurmdPort={{ slurmd_port }}
SlurmdPidFile={{ slurmd_pid_file }}

# MPI
MpiDefault={{ slurm_mpi_default }}
{% if slurm_mpi_params is defined %}
MpiParams={{ slurm_mpi_params }}
{% endif %}

# Cluster configuration
StateSaveLocation={{ slurm_state_dir }}
SwitchType={{ slurm_switch_type }}
ProctrackType={{ slurm_proctrack_type }}
FirstJobId={{ slurm_first_job_id }}
ReturnToService={{ slurm_return_to_service }}
TaskPlugin={{ slurm_task_plugin }}
PrologFlags={{ slurm_prolog_flags }}

{% if slurm_jobsubmitplugins is defined %}
JobSubmitPlugins={{ slurm_jobsubmitplugins }}
{% endif %}

{% if slurm_with_gpu == true %}
GresTypes={{ slurm_grestypes }}
{% endif %}

# TIMERS
SlurmctldTimeout={{ slurmctld_timeout }}
SlurmdTimeout={{ slurmd_timeout }}
InactiveLimit={{ slurm_inactive_limit }}
MinJobAge={{ slurm_minjobage }}
MessageTimeout={{ slurm_message_timeout }}
KillWait={{ slurm_kill_wait }}
Waittime={{ slurm_wait_time }}


# SCHEDULING
SchedulerType={{ slurm_sched_type }}
{% if slurm_sched_params is defined %}
SchedulerParameters={{ slurm_sched_params }}
{% endif %}
SelectType={{ slurm_select_type }}
MCSPlugin=mcs/label
MCSParameters=ondemand,ondemandselect
# TODO Work above into parameters

# Debugging
SlurmctldDebug={{ slurmctld_debug }}
SlurmdDebug={{ slurmd_debug }}
{% if slurm_debug_flags is defined %}
DebugFlags={{ slurm_debug_flags }}
{% endif %}

# ACCOUNTING
AccountingStorageType={{ slurm_accounting_storage_type }}
AccountingStorageHost={{ slurmdbd_host }}

{% if slurm_with_jwt %}
AuthAltTypes={{ slurm_auth_alt_types }}
AuthAltParameters={{ slurm_auth_alt_params }}
{% endif %}


# TOPOLOGY
{% if slurm_with_topo %}
TopologyPlugin={{ slurm_topology_plugin }}
{% else %}
#TopologyPlugin=topology/tree
{% endif %}

# COMPUTE NODES
{% if slurm_nodelist is defined %}
{% for nodelist in slurm_nodelist %}
{{ nodelist }}
{% endfor %}
{% else %}
{% endif %}

# partitions
PartitionName=debug Nodes=ALL Default=YES MaxTime=INFINITE State=UP

